<h1>My App</h1>
<!--
<a [routerLink]="homeRoute">Home</a>
<a [routerLink]="settingRoute">Settings</a>

-->
<a *ngFor="let route of routes" [routerLink]="route.url">
  {{route.linkName}} </a>
<router-outlet>

</router-outlet>